.App {
  text-align: center;
  margin-top: 30px;
  color: #222224;
}


input[type=text] {
  border-color: #ee1515;
  color: #ee1515;
}

.info-container {
  border: 1px solid #ee1515;
}

.info-container h5 {
  margin-bottom: 5px;
  border-bottom: 1px solid #ee1515;
  display: inline;
}

.pokeImg {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}
